<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.managament">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="중고거래"
        android:roundIcon="@drawable/appimage"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Rules"></activity>
        <activity android:name=".Preview" />
        <activity android:name=".webView" />
        <activity android:name=".ChatConfirmList" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".BuyBoardDetail" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".SellBoardDetail" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".AddBoardActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".MyPost" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />
        <activity android:name=".BoardListActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
    </application>

</manifest>